# Dependências do Node (Ignora em todas as pastas)
node_modules/
dist/
build/
.next/

# Arquivos de Configuração Local e Senhas (Segurança)
.env
.env.local
.env.*.local

# Arquivos locais de Banco de Dados (SQLite)
*.db
*.db-journal
prisma/dev.db

# Logs do NPM e Docker
*.log
.docker/
